.how-work {
  &__wrap {
    padding-bottom: rem(110px);
  }

  &__title {
    // padding-bottom: rem(30px);
    padding-bottom: rem(35px);
  }

  &__desc {
    max-width: 67%;
    padding-bottom: rem(23px);

    @include tablets {
      max-width: 100%;
    }
  }

  &__footnote {
    @include montserrat(regular-italic);
    font-size: rem(14px);
    line-height: rem(30px);
    color: $text-color;

    & a {
      color: $text-color-accent;
      text-decoration: underline;
    }
  }
}