.intro {
  &__section {
    position: relative;
    padding-top: rem(150px);
    padding-bottom: rem(140px);
    z-index: 0;
  }

  &__wrap {
    position: relative;
  }

  &__title {
    letter-spacing: .05em;
    // padding-bottom: rem(105px);
    padding-bottom: rem(35px);
  }

  &__subtitle {
    padding-bottom: rem(20px);
    color: $text-color-accent;
  }

  &__desc {
    max-width: 65%;
    padding-bottom: rem(60px);

    p:not(:last-child) {
      padding-bottom: rem(35px);
    }

    @include tablets {
      max-width: 100%;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
  }

  &__button--gh {
    margin-right: rem(40px);
    color: $text-color-title-invert;
  }

  &__button--doc {
    color: $text-color-accent;
  }

  &__lines {
    position: absolute;
    bottom: -400px;
    right: -370px;
    z-index: -1;

    @include laptop {
      display: none;
    }
  }
}