.whats-problems {
  &__section {
    padding-bottom: rem(100px);
  }

  &__title {
    // padding-bottom: rem(80px);
    padding-bottom: rem(35px);
  }

  &__grid--list {
    grid-template-rows: 1fr;
    grid-template-areas:
      "delivery ."
      "delivery protection"
      "pack protection"
      "pack .";

    @include tablets {
      grid-template-areas:
        "delivery"
        "protection"
        "pack"
    }

    & .card {
      &__pic.warning {
        stroke: $color-accent;
      }

      & > p {
        padding-bottom: rem(30px);
      }

      &--delivery {
        grid-area: delivery;
      }

      &--protection {
        grid-area: protection;

        & .card__list p {
          // @include montserrat(semi-bold);
          font-size: rem(14px);
          line-height: rem(20px);
          padding-left: rem(30px);
          color: $text-color-lightest;

          & span {
            color: $text-color-accent;
          }
        }
      }

      
      &--pack {
        grid-area: pack;
        height: fit-content;
        box-sizing: border-box;
        
        &:last-child {
          & .card__item:last-child {
            padding-bottom: 0;
          }
        }
      }
    }
  }
}