# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode
.idea

# Test binary, built with `go test -c`
*.test
bin/
build/
dist/

# actions
actions/node_modules/
actions/coverage
!actions/*/dist/

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Release build artifacts
/client/dist
/server/dist

# Local dev
.task
tests_coverage/
.jekyll-cache/