# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# IDE
.vscode
.idea

# Test binary, built with `go test -c`
*.test
bin/tests

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

client/release-build
server/release-build

.jekyll-cache/

# local dev

_includes
pages_en