body,
html {
  height: 100%;
  @include montserrat(regular);
  font-size: 16px;
  background: $color-bg;
  letter-spacing: 0.05em;

  @include old-display {
    font-size: rem(13px);
  }

  @include laptop {
    font-size: rem(11px);
  }
}

.overflow__container {
  overflow: hidden;
  min-width: 1200px;

  @include old-display {
    min-width: auto; // сделать только для страницы security
  }
}

.container {
  box-sizing: border-box;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 rem(50px);

  &--relative {
    position: relative;
  }

  @include old-display {
    max-width: 940px;
  }

  @include laptop {
    max-width: 100%;
    // padding: 0 50px;
  }

  @include tablets {
    min-width: auto;
  }

  @include phones {
    padding: 0 15px;
  }

  &--wide {
    box-sizing: content-box;
    background: $color-dark;
    border-radius: rem(20px);
    padding: rem(20px) rem(80px);
    min-width: 1200px;

    @media screen and (max-width: 1375px) {
      box-sizing: border-box;
      padding: rem(20px)  0;
      width: 100%;
      border-radius: 0;
    }

    @include old-display {
      min-width: auto;
    }

    @include laptop {
      margin-left: 0;
      margin-right: 0;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-weight: normal;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style: none;
  }
}

p {
  padding: 0;
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.block__title {
  @include montserrat(bold);
  font-size: rem(48px);
  line-height: rem(72px);
  letter-spacing: .05em;
  color: $text-color-title;

  & span {
    color: $text-color-accent;
  }

  &--invert {
    color: $text-color-title-invert;
  }

  @include phones {
    font-size: 24px;
    line-height: 30px;
  }
}

.block__subtitle {
  @include montserrat(semi-bold);
  font-size: rem(24px);
  line-height: rem(36px);

  &--invert {
    color: $text-color-title-invert;

    & span {
      color: $text-color-accent;
    }
  }
}

.block__description {
  @include montserrat(regular);
  font-size: rem(18px);
  line-height: rem(26px);
  color: $text-color;
}

.button {
  @include montserrat(semi-bold);
  font-size: rem(18px);
  line-height: rem(22px);
  color: $text-color-title-invert;
  box-sizing: border-box;
  cursor: pointer;
  padding: rem(pad(50, 22)) rem(30px);
  background: $color-accent;
  border-radius: rem(10px);
  border: 2px solid transparent;
  transition: all 0.2s ease-in-out;

  &--white {
    border: 2px solid $color-accent;
    background: transparent;
    color: $text-color-accent;
  }

  &:hover {
    background: $color-dark;
    color: $text-color-title-invert;
  }

  &--hover-accent {
    &:hover {
      background: $color-accent;
    }
  }
}

.footnote {
  display: inline-block;
  background: $color-bg-footnote;
  padding: rem(3px);
  border-radius: rem(5px);

  &--dark {
    background: $color-bg-footnote-dark;
  }
}

[data-tippy-root] a {
  @include montserrat(regular-italic);
  color: $text-color-title-invert;
  text-decoration: underline;

}

td .tippy-content {
  padding: 4px 8px;
  font-size: 12px;
}