{{- $host := pluck .Values.global.env .Values.host | first | default .Values.host._default  }}
{{- $ingressClassName := pluck .Values.global.env .Values.ingressClassName | first | default .Values.ingressClassName._default | quote }}
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
{{- if eq .Values.global.env "production" }}
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
{{- else }}
    nginx.ingress.kubernetes.io/auth-signin: https://$host/dex-authenticator/sign_in
    nginx.ingress.kubernetes.io/auth-url: https://{{ .Chart.Name }}-dex-authenticator.{{ .Chart.Name }}-{{ .Values.global.env }}.svc.cluster.local/dex-authenticator/auth
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email
{{- end }}
spec:
  ingressClassName: {{ $ingressClassName }}
  tls:
  - hosts:
      - {{ $host }}
{{- if eq .Values.global.env "production" }}
      - www.{{ $host }}
{{- end }}
{{- if eq .Values.global.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.global.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Chart.Name }}
            port:
              number: 80
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: {{ .Chart.Name }}-ru
  annotations:
    nginx.ingress.kubernetes.io/configuration-snippet: |
{{- if eq .Values.global.env "production" }}
    nginx.ingress.kubernetes.io/from-to-www-redirect: "true"
{{- else }}
    nginx.ingress.kubernetes.io/auth-signin: https://$host/dex-authenticator/sign_in
    nginx.ingress.kubernetes.io/auth-url: https://{{ .Chart.Name }}-ru-dex-authenticator.{{ .Chart.Name }}-{{ .Values.global.env }}.svc.cluster.local/dex-authenticator/auth
    nginx.ingress.kubernetes.io/auth-response-headers: X-Auth-Request-User,X-Auth-Request-Email
{{- end }}
spec:
  ingressClassName: {{ $ingressClassName }}
  tls:
  - hosts:
{{- if eq .Values.global.env "production" }}
      - ru.{{ $host }}
{{- else }}
      - ru-{{ $host }}
{{- end }}
{{- if eq .Values.global.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.global.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
{{- if eq .Values.global.env "production" }}
  - host: ru.{{ $host }}
{{- else }}
  - host: ru-{{ $host }}
{{- end }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: {{ .Chart.Name }}
            port:
              number: 80
{{- if eq .Values.global.env "production" }}
---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: {{ .Chart.Name }}
spec:
  secretName: tls-{{ $host }}
  issuerRef:
    kind: ClusterIssuer
{{- if hasPrefix "review" .Values.global.env }}
    name: letsencrypt-staging
{{- else }}
    name: letsencrypt-standalone-geo
{{- end }}
  commonName: {{ $host }}
  dnsNames:
  - {{ $host }}
  - www.{{ $host }}
  - ru.{{ $host }}
{{- end }}
---
{{- if ne .Values.global.env "production" }}
apiVersion: deckhouse.io/v1alpha1
kind: DexAuthenticator
metadata:
  name: {{ .Chart.Name }}
spec:
  applicationDomain: {{ $host }}
  sendAuthorizationHeader: false
  applicationIngressCertificateSecretName: {{ pluck .Values.global.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
  applicationIngressClassName: "nginx"
  keepUsersLoggedInFor: "720h"
---
apiVersion: deckhouse.io/v1alpha1
kind: DexAuthenticator
metadata:
  name: {{ .Chart.Name }}-ru
spec:
  applicationDomain: ru-{{ $host }}
  sendAuthorizationHeader: false
  applicationIngressCertificateSecretName: {{ pluck .Values.global.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
  applicationIngressClassName: "nginx"
  keepUsersLoggedInFor: "720h"
{{- end }}
