{{- $host := pluck .Values.werf.env .Values.host | first | default .Values.host._default  }}
{{- if  hasPrefix "review" .Values.werf.env }}
{{- $host = ( printf "%s.%s" .Values.werf.env (pluck "dev" .Values.host | first | default .Values.host._default ) | lower ) }}
{{- end }}
{{- $ingressClassName := pluck .Values.global.env .Values.ingressClassName | first | default .Values.ingressClassName._default | quote }}

apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: tuf-router
  annotations:
spec:
  ingressClassName: {{ $ingressClassName }}
  tls:
  - hosts:
      - {{ $host }}
{{- if eq .Values.global.env "production" }}
      - ru.{{ $host }}
{{- else }}
      - ru-{{ $host }}
{{- end }}
{{- if eq .Values.global.env "production" }}
    secretName: tls-{{ $host }}
{{- else }}
    secretName: {{ pluck .Values.global.env .Values.ingressSecretName | first | default .Values.ingressSecretName._default }}
{{- end }}
  rules:
  - host: {{ $host }}
    http:
      paths:
      - path: /targets
        pathType: Prefix
        backend:
          service:
            name: tuf-router
            port:
              name: http
      - path: /download
        pathType: Prefix
        backend:
          service:
            name: tuf-router
            port:
              name: http
{{- if eq .Values.global.env "production" }}
  - host: ru.{{ $host }}
{{- else }}
  - host: ru-{{ $host }}
{{- end }}
    http:
      paths:
      - path: /targets
        pathType: Prefix
        backend:
          service:
            name: tuf-router
            port:
              name: http
      - path: /download
        pathType: Prefix
        backend:
          service:
            name: tuf-router
            port:
              name: http
