$color-bg:                #F5F5F5;
$color-accent:            #A41FE2;
$color-dark:              #333037;

$color-border-github:     #C4C4C4;

$text-color:              rgba(51, 48, 55, 0.7);
$text-color-light:        rgba(51, 48, 55, 0.2);
$text-color-lightest:     rgba(255, 255, 255, 0.7);
$text-color-title:        $color-dark;
$text-color-title-invert: #fff;
$text-color-accent:       $color-accent;

$color-bullets:           rgba(51, 48, 55, 0.2);
$color-bullets-invert:    $color-accent;