name: CLI and API partials checker
on:
  push:
    paths:
      - ".github/workflows/docs_cli_and_api_partials_checker.yml"
      - "client/cmd/**"
      - "server/**"
  workflow_dispatch:

jobs:
  check:
    name: Partials checker
    runs-on: ubuntu-latest
    steps:
      - name: Install werf build dependencies
        run: sudo apt-get install -y libbtrfs-dev

      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go 1.18
        uses: actions/setup-go@v5
        with:
          go-version: 1.18
        id: go

      - name: Prepare environment
        run: ./e2e/scripts/ci/git.sh

      - name: Regen partials
        working-directory: docs
        run: make

      - name: Check
        run: |
          git add -A
          git diff --exit-code HEAD -- || { echo -e "CLI or API partials are outdated!\nRegen it with 'make -C docs' and then commit changes."; exit 1; }
