name: Lint
on:
  push:
    branches: [main]
    paths:
      - "Taskfile.dist.yaml"
      - ".github/**"
      - "docs/**"
      - "client/**"
      - "e2e/**"
      - "server/**"
  pull_request:
  repository_dispatch:
    types: ["Lint"]
  workflow_dispatch:

env:
  TASK_X_REMOTE_TASKFILES: 1
jobs:
  lint:
    runs-on: ubuntu-22.04
    timeout-minutes: 30
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version: "1.23"

      - name: Install Task
        uses: arduino/setup-task@v2
        with:
          repo-token: ${{ secrets.GITHUB_TOKEN }}

      - name: Install golangci-lint
        run: task --yes -p deps:install:golangci-lint

      - name: Lint
        run: task --yes lint

  notification:
    needs:
      - lint
    name: Notification
    if: always()
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
