name: Trdl releaser
on:
  create:
  workflow_dispatch:

jobs:
  release:
    if: ${{ startsWith(github.ref, 'refs/tags/v') }}
    name: Perform trdl release using trdl server
    runs-on: ubuntu-22.04
    steps:
      - name: Notify
        uses: mattermost/action-mattermost-notify@master
        with:
          MATTERMOST_WEBHOOK_URL: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
          MATTERMOST_CHANNEL: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
          TEXT: |
            ${{ secrets.LOOP_NOTIFICATION_GROUP }} [${{ github.repository }}](${{ github.server_url }}/${{ github.repository }}/actions/runs/${{ github.run_id }}) task sign pls

      - name: Release client
        uses: werf/trdl-vault-actions/release@main
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: trdl
          git-tag: ${{ github.event.ref }}
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID }}

      - name: Release server
        uses: werf/trdl-vault-actions/release@main
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: trdl-server
          git-tag: ${{ github.event.ref }}
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID_FOR_TRDL_SERVER }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID_FOR_TRDL_SERVER }}

      - name: Release client
        uses: werf/trdl-vault-actions/release@main
        with:
          vault-addr: ${{ secrets.TRDL_VAULT_ADDR }}
          project-name: trdl-vault
          git-tag: ${{ github.event.ref }}
          vault-auth-method: approle
          vault-role-id: ${{ secrets.TRDL_VAULT_ROLE_ID }}
          vault-secret-id: ${{ secrets.TRDL_VAULT_SECRET_ID }}

  notification:
    name: Notification
    if: always() && startsWith(github.ref, 'refs/tags/v')
    needs: release
    uses: werf/common-ci/.github/workflows/notification.yml@main
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
