name: Test website
on:
  pull_request:
    types: [labeled, synchronize]
  workflow_dispatch:

env:
  WERF_REPO: "ghcr.io/${{ github.repository_owner }}/trdl"

jobs:
  converge:
    name: Converge to Test
    runs-on: ubuntu-latest-4-cores
    if: github.event.label.name == 'test docs' || contains( github.event.pull_request.labels.*.name, 'test docs' )
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Converge
        run: |
          . $(werf ci-env github --as-file)
          werf converge
        env:
          WERF_DIR: "docs"
          WERF_ENV: "test"
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64_DEV }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
