name: Converge website
on:
  push:
    branches: [main]
    paths:
      - ".github/workflows/website_converge.yml"
      - "docs/**"
  workflow_dispatch:

env:
  WERF_REPO: "ghcr.io/${{ github.repository_owner }}/trdl"

jobs:
  converge:
    name: Converge site to Production
    runs-on: ubuntu-latest-4-cores
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Install werf
        uses: werf/actions/install@v2

      - name: Converge
        run: |
          . $(werf ci-env github --as-file)
          werf converge
        env:
          WERF_DIR: "docs"
          WERF_ENV: "production"
          WERF_KUBE_CONFIG_BASE64: ${{ secrets.KUBECONFIG_BASE64_PROD }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  notification:
    name: Notification
    if: always()
    needs: converge
    uses: ./.github/workflows/_notification.yml
    secrets:
      loopNotificationGroup: ${{ secrets.LOOP_NOTIFICATION_GROUP }}
      webhook: ${{ secrets.LOOP_NOTIFICATION_WEBHOOK }}
      notificationChannel: ${{ secrets.LOOP_NOTIFICATION_CHANNEL }}
